<div class="col">
  <figure class="figure">
    <img src="https://cdn.pixabay.com/photo/2017/03/21/02/00/image-2160911_960_720.png" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">
      <%= image.description %>
      <%= link_to 'Editar', edit_image_path(image) %>
      <%= link_to 'Eliminar', image, method: :delete, data: { confirm: 'sure?'}%>
    </figcaption>
  </figure>
</div>
